.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}


body {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.input-div {
  display: flex;
  align-items: center;
  margin-right: 290px;
}

.input-label {
  font-size: 30px;
  width: 260px;
  text-align: right;
  margin-right: 30px;
}

.input-div:nth-child(2n) {
  margin-top: 30px;
}

input {
  background-color: #FFFDE8;
  border: solid #F4EB95 3px;
  width: 510px;
  height: 75px;
  font-size: 30px;
  text-align: center;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

button {
  margin-top: 30px;
  width: 560px;
  height: 80px;
}
button {
  margin-top: 30px;
  width: 555px;
  height: 80px;
  background-color: #CDE990;
  border: solid #ABCA67 3px;
  border-radius: 20px;
  font-size: 33px;
}

button:hover {
  color: #FFFDE8;
  background-color: #ABCA67;
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
    font-family: Galmuri9, sans-serif;
}

/* media */
@media screen and (max-width:1024px) {
    .title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    input {
        width: 320px;
        height: 60px;
        font-size: 22px;
    }

    button {
        width: 360px;
        height: 68px;
        font-size: 30px;
        margin-top: 20px;
    }

    .input-label {
        font-size: 22px;
        width: 153.61px;
    }

    .input-div {
        margin-right: 183.61px;
    }

    .flex {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 35px;
        margin-bottom: 35px;
    }

    input {
        width: 280px;
        height: 60px;
        font-size: 20px;
    }

    button {
        width: 320px;
        height: 68px;
        font-size: 24px;
        margin-top: 20px;
    }

    .input-label {
        display: none;
    }

    .input-div {
        margin-right: 0px;
    }
}